account <USER>
host 127.0.0.1
port 1025
from <USER>
user <USER>
password "<PASS>"
auth login
tls on
tls_trust_file	/etc/ssl/certs/ca-certificates.crt
logfile /home/vylpes/.config/msmtp/msmtp.log
tls_fingerprint <FINGERPRINT>

